
/* Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	chosen: chosen { };
	mot_batterydata: qcom,battery-data {};
	utags: utags {};
	hw: hw {};
};

&soc {
	spi_1: spi@78b5000 { };
	spi_4: spi@7af4000 { };
	spi_6: spi@7af6000 { };
	spi_7: spi@7af7000 { };
};
